:root{
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}

html{
    font-size: 62.5%;
}

body {
    font-size: 1.3rem;
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: var(--Light-grayish-blue);   
}

h1, h2, h3, p {
    margin: 0;
}

.container {
    width: 144  rem;
    max-width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
}

.card{
    border-radius: 1rem;
    position: relative;
    padding: 3rem;
}

.one{
    background-color: var(--Moderate-violet);
}

.two{
    background-color: var(--Very-dark-grayish-blue);
}

.three{
    background-color: var(--White);
}
.four{
    background-color: var(--Very-dark-blackish-blue);
}

.five{
    background-color: var(--White);
}

/* .card:last-child{
    margin-bottom: 5rem;
} */

.card__container{
    max-width: 100%;
}

.card__quotation{
    position: absolute;
    top: 0;
    right: 2rem;
    opacity: 70%;
}

.card__profile{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.card__profile-image{
    width: 3rem;
    border-radius: 50%;
}

.border-visible{
    /* border: .2rem solid hsl(263, 55%, 52%, .9); */
    border: .2rem solid hsl(263, 60%, 65%, .9);
}

.card__profile-data{
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    color: var(--Light-grayish-blue);
}

.card__profile-name{
    font-weight: 400;
    font-size: 1.3rem;
}

.card__profile-info{
    opacity: 50%;
    font-size: 1.1rem;
}

.card__info-intro{
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--Light-grayish-blue);
    margin-bottom: 2rem;
    max-width: 98%;
}

.card__info-opinion{
    color: var(--Light-grayish-blue);
    max-width: 88%;
    font-weight: 400;
    line-height: 1.4;
    opacity: 70%;
}

.card--text-black{
    color: var(--Very-dark-grayish-blue);
}

.attribution{
    margin: 2rem;
}

@media(width >= 1200px){
    .cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* margin-bottom: 5rem; */
    }
    
    .card{
        padding: 3.5rem;
    }

    .card__profile{
        gap: 2rem;
    }

    .card__quotation{
        position: absolute;
        top: 0;
        right: 5rem;
        opacity: 70%;
    }

    .one{
        grid-column: 1 / 3;
    }

    .three{
        grid-column: 1 / 2;
    }

    .four{
        grid-column: 2 / 4;
    }

    .five{
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }

    .card__info-intro{
        font-size: 2.4rem;
        max-width: 100%;
    }
    
    .card__info-opinion{
        font-size: 1.5rem;
        max-width: 96%;
    }

    
}


